.main {
  display: flex;
  height: 110vh;
}

.left-panel {
  width: 5%;
  display: flex;
  align-items: center;
}

.left-panel .container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-content {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-content .container {
  width: 95%;
  height: 95%;
  background-color: white;
  border-radius: 15px;
}



.inner-container {
  width: 95%;
  margin: auto;
}



.right {
  width: 5%;
  display: flex;
  align-items: center;
}

.right .container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Media Queries for Responsiveness */


@media (min-width:1200px) and (max-width:1399px){
  .main {
      height: 80vh;
  }
}

@media (min-width:992px) and (max-width:1199px){
  .main {
      height: 60vh;
  }
}

@media (min-width:768px) and (max-width:991px){
  .main {
      height: 65vh;
  }
}
